<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon">
    <meta property="og:image" content="/images/favicon.ico" />
    <title>wordsmith</title>
    <link rel="icon" href="assets/mc_logo.png" type="image/png">
    <link rel="stylesheet" href="/../static/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>How to play:</h1>
        <div class="instructions">
            <li><strong>Objective:</strong> There is a secret word, and it is your goal to find it. Start typing your guesses in the input box.</li>
            <li><strong>Use Feedback:</strong> After each guess, you'll receive feedback as a similarity score. The lower the score, the closer the guess is to the secret word (which has a score of 0).</li>
            <li><strong>Keep Guessing:</strong> Continue guessing based on the feedback until you find the answer!</li>
        </div>
        <a href="/" id="backBox" class="back-box">Back to game (new game)</a>
    </div>
</body>

</html>
