<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon">
    <meta property="og:image" content="/images/favicon.ico" />
    <title>wordsmith</title>
    <link rel="icon" href="assets/mc_logo.png" type="image/png">
    <link rel="stylesheet" href="/../static/css/styles.css">
</head>

<body>
    <div class="container">
        <div class = "menu">
            <!-- Left-aligned elements: Hint and Guess Count -->
            <div class="left-group">
                <button id="hintButton">Hint</button>
                <div id="guessCountBox">Guess count:</div>
            </div>
            <div class = "helpButtons">
                <a href="/help.html" class="fa fa-question-circle" id="helpButton"></a>
                <a href="/info.html" class="fa fa-info-circle"></a>
                <a href="https://github.com/matthewchiccino/wordsmith" class="fa fa-github" target="_blank"></a>
            </div>
        </div>
        <div class="main-content">
            <h1>Enter your word:</h1>
            <input type="text" id="wordInput" placeholder="Enter a word">
            <button id="submitButton">Submit</button>
            <div id="recentScoreBox"></div>
            <div id="messageBox"></div>
        </div>

        <div class="results">
            <!-- Container for displaying the results -->
            <div id="resultsContainer">
                <!-- results will dynamically be added here -->
            </div>
        </div>
    </div>
    
    <script src="../static/script.js" defer></script>
</body>

</html>
