<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon">
    <meta property="og:image" content="/images/favicon.ico" />
    <title>wordsmith</title>
    <link rel="icon" href="assets/mc_logo.png" type="image/png">
    <link rel="stylesheet" href="/../static/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="main-content">
    
            <section class="version">
                <h2>Version</h2>
                <p>Version: 1.0.1</p>
                <p>Last updated: 1/7/2025</p>
            </section>
    
            <section class="game-features">
                <h2>Game Features</h2>
                <li>Unlimited rounds</li>
                <li>Interactive hint system</li>
                <li>User friendly interface</li>
            </section>
            <section class="credits">
                <h2>Credits</h2>
                <p>Game developed by <strong>Matthew Chiccino</strong>.</p>
            </section>
    
            <a href="/" id="backBox" class="back-box">Back to Game (new game)</a>
        </div>
    </div>
</body>

</html>
